.reveal {
	font-size: 200%;
}

h1, h2, h3 {
	font-weight: normal;
}

/*.reveal h1, h2, h3 {
	font-weight: normal;
	text-shadow: none;
}

.rendered_html h2 {
	font-weight: normal;
}

.rendered_html h3 {
	font-weight: normal;
}
*/

.reveal h1 {
	font-size: 125%;
}

.reveal h2 {
	font-size: 100%;
}

.reveal li {
	margin: 0.25em 0;
}

.reveal section img {
    padding: 10px;
}

.reveal blockquote {
	font-size: 60%;
}
