.reveal {
	font-size: 150%;
}

.reveal h1 {
	font-size: 125%;
}

.reveal h2 {
	font-size: 100%;
}

.reveal li {
	margin: 0.25em 0;
}

.reveal section img {
    padding: 10px;
}

.reveal blockquote {
	font-size: 60%;
}
